/* Указываем box sizing */
html {
     box-sizing: border-box;
}

*,
*::before,
*::after {
     box-sizing: inherit;
}


/* Убираем внутренние отступы */
ul,
ol {
     padding: 0;

}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
     margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
     min-height: 100vh;
     scroll-behavior: smooth;
     text-rendering: optimizeSpeed;
     line-height: 1.5;
     font-family: 'Raleway', sans-serif;
     font-family: 'Roboto', sans-serif;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
     list-style: none;

}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
     text-decoration-skip-ink: auto;
}

a {
     text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
     max-width: 100%;
     display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
     margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
     font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
     * {
          animation-duration: 0.01ms !important;
          animation-iteration-count: 1 !important;
          transition-duration: 0.01ms !important;
          scroll-behavior: auto !important;
     }
}





/* all roots with colors and details */

:root {
--main-blue-color: #2196F3;
--black-color-000000: #000000;
--text-black-212121: #212121; 
--hero-text-color: #FFFFFF;
--hero-bg-color: #2F303A;
--contat-grey-text-color: #757575; 
--header-lower-horizontal-line: #ECECEC;
--our-team-bg-color: #F5F4FA;
--footer-contacts-color-text: rgba(255, 255, 255, 0.60);


/* FONTS: */
--Roboto-font: 

}



/* utilize setttings */
.container {
     width: 1200px;
     margin: 0 auto;
     padding: 0 15px;
     margin-left: auto;
     margin-right: auto;
}


/* WEB STDUIO MAIN PAGE */
/* Header section */

.nav-list .link.current {
     color: var(--main-blue-color);
}

.nav-list li:not(:last-child) {
   margin-right: 50px;
}


/* webstudio header, and portfolio header */
.page-header .header-logo {
     display: flex;
     font-family: 'Raleway';
     font-size: 26px;
     font-weight: 700;
     letter-spacing: 0.78px;
     line-height: calc(24/26);
     margin-left: 215px;
     margin-right: 93px;
}

.page-header .header-nav .nav-list{
     display: flex;
}

.contacts-list {
     display: flex;
}

.page-header .main-nav {
     display: flex;
     align-items: center;
}


.header-contacts {
     margin-left: auto;
}

.header-nav .nav-list .nav-items:not-last- {
     margin-right: 50px;
}

/* WEBSTUDIO LOGO  */
.header-logo .web {
     color: var(--main-blue-color);
}
.header-logo .studio {
     color: var(--black-color-000000);
     border: 2px red;
}

.header-logo:active,
.header-logo:focus {
          color: var(--main-blue-color);

}


.nav-list .nav-items {
     padding-top: 28px;
     padding-bottom: 28px;
}


.nav-link {
     color: var(--text-black-212121);
     font-size: 14px;
     letter-spacing: 0.28px;
}
     

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
     color: var(--main-blue-color);
}

.contacts-link {
     color: #757575;
     font-size: 14px;
     font-style: normal;
     letter-spacing: 0.28px;
}

.contacts-link:hover,
.contacts-link:focus,
.contacts-link:active {
     color: var(--main-blue-color);
}



/* ---hero-title--- */

.hero {
     background-color:var(--hero-bg-color);
     padding-top: 188px;
     padding-bottom: 198px;
}

.hero-title {
     color: #FFF;
     text-align: center;
     font-size: 44px;
     font-family: Roboto;
     font-weight: 900;
     line-height: 60px;
     letter-spacing: 2.64px;
     text-transform: uppercase;
     max-width: 696px;
     margin-left: auto;
     margin-right: auto;
}

.hero .hero-button {
     display: flex;
     margin-left: auto;
     margin-right: auto;
     font-family: inherit;
     background-color: var(--main-blue-color);
     border-radius: 4px;
     color: var(--hero-text-color);
     font-weight: 700;
     font-size: 16px;
     line-height: calc(30 / 16);
     letter-spacing: 0.06em;
     cursor: pointer;
     min-width: 216px;
     border-color: transparent;
     padding: 10px 32px 10px 32px;
     margin-top: 40px;
}


.works-list {
     display: flex;

}




/* section advantages  */

.advantages {
     padding-top: 94px;
}


/* section what we do */
.what-we-do {
     display: flex;
}






/* section our team  */
.team-list {
     display: flex;
}



/* PAGE PORTFOLIO */
/* SECTION WITH BUTTONS */


.button-gallery {
display: flex;
justify-content: center;}


.card-set {
     display: flex;
     flex-wrap: wrap;
     gap: 30px;
     justify-content: center;
}


.item-card {
     width: 370px;
     background-color: #FFFFFF;
     flex-basis: calc((100% - 20px) / 4);

     background-color: orange;
     outline: 2px solid black;

     box-shadow: 0px 2px 1px -1px rgba(3, 1, 2, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}



.item-card img {
          width: 370px;

}
