/* Указываем box sizing */
html {
     box-sizing: border-box;
}

*,
*::before,
*::after {
     box-sizing: inherit;
}


/* Убираем внутренние отступы */
ul,
ol {
     padding: 0;

}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
     margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
     min-height: 100vh;
     scroll-behavior: smooth;
     text-rendering: optimizeSpeed;
     line-height: 1.5;
     font-family: 'Raleway', sans-serif;
     font-family: 'Roboto', sans-serif;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
     list-style: none;

}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
     text-decoration-skip-ink: auto;
}

a {
     text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
     max-width: 100%;
     display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
     margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
     font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
     * {
          animation-duration: 0.01ms !important;
          animation-iteration-count: 1 !important;
          transition-duration: 0.01ms !important;
          scroll-behavior: auto !important;
     }
}





/* all roots with colors and details */

:root {
--main-blue-color: #2196F3;
--black-color-000000: #000000;
--text-black-212121: #212121; 
--hero-text-color: #FFFFFF;
--hero-bg-color: #2F303A;
--contat-grey-text-color: #757575; 
--header-lower-horizontal-line: #ECECEC;
--our-team-bg-color: #F5F4FA;
--footer-contacts-color-text: rgba(255, 255, 255, 0.60);
--header-bottom-border-color: #ececec;


/* FONTS: */
--Roboto-font: 

}



/* utilize setttings */
.container {
     width: 1200px;
     margin: 0 auto;
     padding: 0 15px;
     margin-left: auto;
     margin-right: auto;
}


/* WEB STDUIO MAIN PAGE */
/* Header section */

.page-header {
          border-bottom: 1px solid var(--header-bottom-border-color);
}

.nav-list .link.current {
     color: var(--main-blue-color);
}

.nav-list li:not(:last-child) {
   margin-right: 50px;
}


/* webstudio header, and portfolio header */
.page-header .header-logo {
     display: flex;
     font-family: 'Raleway';
     font-size: 26px;
     font-weight: 700;
     letter-spacing: 0.78px;
     line-height: calc(24/26);
     margin-right: 93px;
}

.page-header .header-nav .nav-list{
     display: flex;
}

.contacts-list {
     display: flex;
}

.contacts-list .contact-items:nth-of-type(1) {
  margin-right: 50px;
}

.contact-items {
     outline: 1px solid red;
     display: flex;
     flex-direction: row-reverse;
     align-items: center;
}

.contact-icon {
     width: 16px;
     height: 12px;
     fill: var(--contat-grey-text-color);
}


.contacts-list .contacts-link {    
     display: block;
     padding-top: 28px;
     padding-bottom: 28px;
fill: ;

}




.contacts-link:hover {
     color: var(--main-blue-color);
     fill: var(--main-blue-color);
}


.page-header .main-nav {
     display: flex;
     align-items: center;
}

.main-nav .header-logo {
     display: block;
     padding-top: 28px;
     padding-bottom: 28px;
}


.header-contacts {
     margin-left: auto;
}

.header-nav .nav-list .nav-items:not-last-child {
     margin-right: 50px;
}

/* WEBSTUDIO LOGO  */
.header-logo .web {
     color: var(--main-blue-color);
}
.header-logo .studio {
     color: var(--black-color-000000);
     border: 2px red;
}

.header-logo:active,
.header-logo:focus {
          color: var(--main-blue-color);

}


.nav-list .nav-link {
     display: block;
     padding-top: 28px;
     padding-bottom: 28px;
}





.nav-link {
     color: var(--text-black-212121);
     font-size: 14px;
     letter-spacing: 0.28px;
}
     

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
     color: var(--main-blue-color);
}

.contacts-link {
     color: #757575;
     font-size: 14px;
     letter-spacing: 0.28px;

}

.contacts-link:hover,
.contacts-link:focus,
.contacts-link:active {
     color: var(--main-blue-color);

}



/* ---hero-title--- */

.hero {
     background-color:var(--hero-bg-color);
     padding-top: 188px;
     padding-bottom: 198px;

     background: linear-gradient( to right, rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40) ),  url(./img/hero/bg-office-meeting.jpg), lightgray 0px -147.517px / 100% 170.667% no-repeat;

     /* background: url(./img/hero/bg-office-meeting.jpg), lightgray 0px -147.517px / 100% 170.667% no-repeat; ; */
     background-repeat: no-repeat;
     background-position: center
     background-size: cover;
     max-width: 1600px;
     margin: 0 auto;

}

.hero-title {
     color: #FFF;
     text-align: center;
     font-size: 44px;
     font-family: Roboto;
     font-weight: 900;
     line-height: 60px;
     letter-spacing: 2.64px;
     text-transform: uppercase;
     max-width: 696px;
     margin-left: auto;
     margin-right: auto;
}

.hero .hero-button {
     display: flex;
     margin-left: auto;
     margin-right: auto;
     font-family: inherit;
     background-color: var(--main-blue-color);
     border-radius: 4px;
     color: var(--hero-text-color);
     font-weight: 700;
     font-size: 16px;
     line-height: calc(30 / 16);
     letter-spacing: 0.06em;
     cursor: pointer;
     min-width: 216px;
     border-color: transparent;
     padding: 10px 32px 10px 32px;
     margin-top: 40px;
}




/* section advantages  */

.works-list {
     display: flex;
     flex-wrap: nowrap;
     gap: 30px;
}



.advantages {
     padding-top: 94px;
}

.works-item::before {
     margin-bottom: 30px;
     display: inline-block;
     content: "";
     height: 120px;
     width: 270px ;
     background-color: var(--our-team-bg-color);
     background-repeat: no-repeat;
     background-position: center;
}

.works-item:nth-child(1)::before {
     background-image: url(./img/section-advantages/antenna.png);

}

.works-item:nth-child(2)::before {
     background-image: url(./img/section-advantages/clock.png);

}

.works-item:nth-child(3)::before {
     background-image: url(./img/section-advantages/diagram.png);

}

.works-item:nth-child(4)::before {
     background-image: url(./img/section-advantages/astronaut.png);

}

/* section what we do */
.what-we-do {
     display: flex;
     gap: 30px
     
}

.works-img {
padding-top: 94px;
padding-bottom: 94px;


}

.works-img .works-title {
     color: var(--text-black-212121);
     text-align: center;
     font-size: 36px;
     font-weight: 700;
     letter-spacing: 1.08px;
     margin-bottom: 50px ;

}




/* section our team  */


.main-team {
     padding-bottom: 94px;
     padding-top: 94px;
     background-color: var(--our-team-bg-color);
}

.team-list {
     display: flex;
     gap: 30px;
}

.team-title {
     color: #212121;
     text-align: center;
     font-size: 36px;
     font-weight: 700;
     letter-spacing: 1.08px;
     margin-bottom: 50px;

}

.team-item {
     background-color: var(--hero-text-color);
     border-radius: 0px 0px 4px 4px;
     box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-info {
     text-align: center;
     padding-top: 30px;
     padding-bottom: 30px;
}

.team-name {
     font-size: 16px;
     margin-bottom: 10px;
     font-weight: 500;
     font-size: 16px;
     line-height: calc(19 / 16);
     color: var(--text-black-212121);
}

.team-role{
     font-size: 16px;
     line-height: calc(19 / 16);
     color: var(--contat-grey-text-color);

}

.team-info::after {
     margin-top: 16px;
     display: inline-block;
     content: "";
     width: 206px;
     height: 44px;
     background: url(./img/section-our-team/instagram.png), url(./img/section-our-team/twitter.png), url(./img/section-our-team/facebook.png), url(./img/section-our-team/linkedin.png);
     background-repeat: no-repeat;
     background-position: 10% 12px, 35% 12px, 60% 12px, 90%, 12px ;
     /* outline: 1px solid green; */
} 



/* PAGE PORTFOLIO */
/* SECTION WITH BUTTONS */

.projects-main {
padding-bottom: 94px;



}
.gallery-list {
     display: flex;
     justify-content: center;
     padding-top: 94px;
     padding-bottom: 50px;
     gap: 8px;
}

.gallery-button {
     padding: 6px 22px 6px 22px;
     border-radius: 4px;
     background: var(--our-team-bg-color);
     border-color: transparent;
     
     cursor: pointer;
 

     color: var(--text-black-212121);
          text-align: center;
          font-family: inherit;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: calc(26 / 16);
          letter-spacing: 0.48px;
}

.gallery-button:hover {
     border-radius: 4px;
     background: var(--main-blue-color);
     box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
     color: var(--hero-text-color);
}


.card-set {
     display: flex;
     flex-wrap: wrap;
     gap: 30px;
     justify-content: center;
}


.item-card {
     width: 370px;
     background-color: #FFFFFF;
     flex-basis: calc((100% - 60px) / 3);
     box-shadow: 0px 2px 1px -1px rgba(3, 1, 2, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}



.item-card img {
          width: 370px;

}


.card-text {
     padding: 20px 24px 20px 24px;
}



.card-title {
     color: var(--text-black-212121);
     font-size: 18px;
     font-weight: 700;
     line-height: calc(36px / 18px);
     letter-spacing: 1.08px;
}

.card-description {
     color: var(--contat-grey-text-color);
     font-size: 16px;
     font-weight: 400;
     line-height: calc(30 / 16);
     letter-spacing: 0.48px;
}



/* customer section */

.customers-main {
     padding-top: 94px ;
     padding-bottom: 94px;
}


.customers-title {
color: var(--text-black-212121);
     text-align: center;
     font-size: 36px;
     font-weight: 700;
     letter-spacing: 1.08px;
     margin-bottom: 50px;
}

.customers-list {
     display: flex;
     gap: 30px;
}

.customers-item {
     width: 170px;
     height: 92px;
     border-radius: 4px;
     border: 1px solid #AFB1B8;
}




/* footer section */

.footer-main {
     background-color: var(--hero-bg-color);
     padding-top: 60px;
     padding-bottom: 60px;
}


.footer-logo {
     color: var(--main-blue-color);
     font-family: Raleway;
     font-size: 26px;
     font-weight: 700;
     letter-spacing: 0.78px;
}

.footer-main .studio-ftr{
     color: var(--hero-text-color);
}

.footer-text {
     font-size: 14px;
     font-weight: 400;
     line-height: calc(24 / 14);
     letter-spacing: 0.42px;
     font-style: normal;
}
.footer-item .footer-address {
     color:var(--hero-text-color);

}

.footer-item .footer-contacts {
     color: var(--footer-contacts-color-text);
}

.footer-contacts {

}

.footer-main address {
     margin-top: 20px;
}

.footer-list .footer-item:not(:last-child) {
     margin-bottom: 9px;
}

